* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgba(0, 110, 255, 0.329);
}
.container {
  width: 310px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 10px;
}
.container .question-box {
  color: #777;
  padding: 10px;
  text-align: center;
}
.container .options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.option {
  color: rgb(218, 218, 218);
  background-color:rgb(0, 110, 255);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.hide {
  display: none;
}
.hidden {
  display: none;
}
.choose p {
  text-align: center;
  text-transform: capitalize;
}
.categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

}
.category {
  color: rgb(218, 218, 218);
  background-color:rgb(0, 110, 255);
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}
.category:hover, .option:hover {
  background-color: rgba(0, 110, 255, 0.562);
}